body{
	margin:0;
}

header{
	background: black;
	color: white;
	padding: 10px;
	height: 30px;
	font-size: 26px;
	font-family: calibri;
	-webkit-transition: width 2s;
	/* For Safari 3.1 to 6.0 */
	transition: width 2s;
	-webkit-transition: all .5s ease 1s;
	/* For Safari 3.1 to 6.0 */
	transition: all .5s ease 1s;
	overflow: hidden;
}

button{
	padding: 20px;
	font-size: 25px;
	margin: 0;
	border: 0;
	float: left;
	width: 50%;
	background: lightgrey;
}
button:active, button:focus{
	outline:none;
}
header:hover{
	height:150px;
	background: blue;
	-webkit-transition: all .5s;
	/* For Safari 3.1 to 6.0 */
	transition: all .5s;
}
#clear{
	color: darkgrey;
	background: grey;
}