body{
	margin:0;
}

header{
	height: 30px;
	font-size: 26px;
	font-family: calibri;
}

button{
	padding: 20px;
	font-size: 25px;
	margin: 0;
	border: 0;
	float: left;
	width: 50%;
	background: lightgrey;
}

#clear{
	color: darkgrey;
	background: grey;
}